.footer{
    width:100%;
    background-color: #f8f8f8;
}
.footer_container{
    display:flex;
    justify-content: space-between;
    padding:30px 0;
}

.footerText{
    width:70%;
}
.footerText li{margin-bottom:10px;}
.footerText li span{
    margin-right:10px;
    font-weight: 500;
}
.footerText li span::after{
    content:'|';
    position:relative;
    left:6px;
}
.footer_sns_wrap p,.footer_contact li:first-child{
    margin:5px 0;
    font-size:2em;
}
.footer_SNS{
    display:flex;
    justify-content: space-between;
}
.footer_SNS li{
    width:20px;
    height:20px;
}
.footer_SNS li:first-child{
    background-image: url(./img/facebook.png);
    background-repeat: no-repeat;
    background-size:contain;
}
.footer_SNS li:nth-child(2){
    background-image: url(./img/insta.png);
    background-repeat: no-repeat;
    background-size:contain;
}
.footer_SNS li:nth-child(3){
    background-image: url(./img/naver.png);
    background-repeat: no-repeat;
    background-size:contain;
}
.footer_SNS li:nth-child(4){
    background-image: url(./img/naver.png);
    background-repeat: no-repeat;
    background-size:contain;
}
.copyright{
    margin:0 auto;
    text-align: center;
    border-top:1px solid rgb(216, 216, 216);
    padding: 15px 0;
    box-sizing: border-box;
}